@media (max-width: 991.98px) {
  .navbar-toggler {
      position: fixed;
      right: 15px;
      top: 27px;
      z-index: 1030; 
  }
}
.btn-freiya {
  color: white;
  background-color: transparent; 
}

.btn-freiya:hover {
  color: #ffb758;
  background-color: rgba(0, 0, 0, 30%);
}

.btn-nav {
  color: rgb(255, 255, 255);
}

.btn-nav:hover {
  color: #ffb758;
}


.nav-freiya {
  background-color: transparent;
  transition: background-color 0.3s ease;
}

.nav-freiya.scrolled {
  background-color: rgba(15, 16, 31, 0.7); 
}

.ts {
  text-shadow: rgb(0, 0, 0) 1px 0 1px;
}