  .btn-freiya {
    background-color: transparent;
  }

  .btn-freiya:hover {
    background-color: rgba(0, 0, 0, 50);
  }

  .nav-freiya {
    background-color: transparent;
}

.fly {
  position: absolute;
}