@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animated {
  animation: slideInFromRight 1s ease-out forwards;
}

.animated-img {
  animation: fadeIn 1s ease-out forwards;
}

.hidden {
  opacity: 0;
}

.ts {
  text-shadow: rgb(0, 0, 0) 1px 1px 1px;
}

.sobre-container {
  min-height: 100vh; 
  padding-top: 100px; 
  padding-bottom: 100px; 
}

.nask {
  margin-bottom: 50px; 
}
