<div class="container">

    <h2 class="mt-5 text-center">saaaaalve galerinha</h2>
    <p class="fs-2 mt-2 text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam porro omnis,
        tenetur non amet recusandae iusto
        incidunt impedit nesciunt. Rem totam, eos officia veritatis nemo aliquam minus error nostrum expedita.</p>
    <p class="fs-2 mt-2 text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam porro omnis,
        tenetur non amet recusandae iusto
        incidunt impedit nesciunt. Rem totam, eos officia veritatis nemo aliquam minus error nostrum expedita.</p>
    <p class="fs-2 mt-2 text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam porro omnis,
        tenetur non amet recusandae iusto
        incidunt impedit nesciunt. Rem totam, eos officia veritatis nemo aliquam minus error nostrum expedita.</p>
</div>