<div class="hero-section">
    <div class="container d-flex justify-content-center align-items-center">
      <div class="row">
        <div class="col-12 mt-auto mb-auto text-center">
          <h1 class="text-white nask titulo">FREIYA</h1>
        </div>
      </div>
    </div>

    <div class="video-wrap">
      <div class="background-overlay"></div>
      <img class="custom-video" src="../../assets/16-_MG_6909.jpg" alt="">
      <img class="custom-video" src="../../assets/_MG_4487.jpg" alt="">
      <img class="custom-video" src="../../assets/_MG_4529.jpg" alt="">
    </div>
  </div>