<div class="container" id="MUSICAS">
    <div class="margem">
        <h2 class="mt-5 text-center nask" style="font-size: 70px">DISCOGRAFIA</h2>
        <div class="d-flex justify-content-center flex-wrap">
            <a target="_blank" class="m-3" href="https://open.spotify.com/intl-pt/album/2BVj8gtu07PUnot714vA47">
                <button class="image-button btn-freiya">
                    <img src="../../assets/afeus.jpeg">
                    <div class="overlay">
                        <div class="title">A Fatal Existência de um Sonhador</div>
                        <div class="year">2023</div>
                        <div class="type">ÁLBUM</div>
                    </div>
                </button>
            </a>
            <a target="_blank" class="m-3" href="https://open.spotify.com/intl-pt/album/2inBeVMIfsvRDw3Pv2LNIe">
                <button class="image-button btn-freiya">
                    <img src="../../assets/caixa.jpeg">
                    <div class="overlay">
                        <div class="title">Caixa De Pandora</div>
                        <div class="year">2022</div>
                        <div class="type">SINGLE</div>
                    </div>
                </button>
            </a>
            <a target="_blank" class="m-3" href="https://open.spotify.com/intl-pt/album/04Kh4yj5Vkod98WUaVWgAe">
                <button class="image-button btn-freiya">
                    <img src="../../assets/pink.jpeg">
                    <div class="overlay">
                        <div class="title">Pink</div>
                        <div class="year">2021</div>
                        <div class="type">SINGLE</div>
                    </div>
                </button>
            </a>
            <a target="_blank" class="m-3" href="https://open.spotify.com/intl-pt/album/1i6qSiZ8o6an0YkFb4zRyD">
                <button class="image-button btn-freiya">
                    <img src="../../assets/nanal.jpeg">
                    <div class="overlay">
                        <div class="title">É Nanal</div>
                        <div class="year">2020</div>
                        <div class="type">SINGLE</div>
                    </div>
                </button>
            </a>
            <a target="_blank" class="m-3" href="https://open.spotify.com/intl-pt/album/3j8TFHLbltoihmpKa97xCX">
                <button class="image-button btn-freiya">
                    <img src="../../assets/freiya.jpeg">
                    <div class="overlay">
                        <div class="title">Freiya</div>
                        <div class="year">2019</div>
                        <div class="type">EP</div>
                    </div>
                </button>
            </a>
        </div>
        <div class="mt-5">
            <div class="row justify-content-center align-items-center">
                <div class="col-md-4">
                    <img src="../../assets/0Z3A7499.jpg" class="img-fluid youtube p-1 me-3 mb-3"
                    alt="">
                </div>
                <div class="col-md-6 text-center">
                    <p class="fs-2 ts">Siga-nos também no Youtube!</p>
                    <a href="https://www.youtube.com/channel/UCfb85sGgSd-IkmjYSOi0mlA"
                    class="btn youtube-button fa-brands fa-youtube"></a>
                </div>
            </div>
        </div>
    </div>
</div>