<div class="container">
    <iframe _ngcontent-ndr-c4="" width="49%" height="450" title="Spotify Embed: A Fatal Existência de um
    Sonhador" frameborder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen;
    picture-in-picture" loading="lazy"
        src="https://open.spotify.com/embed/album/2BVj8gtu07PUnot714vA47?si=svQkqkGNR3y0FDsvdltYBQ&amp;utm_source=oembed\"
        class="mt-2 m-1" style="border-radius: 12px; min-width: 300px;"></iframe>
    <iframe _ngcontent-ndr-c4="" allow="autoplay *; encrypted-media *; fullscreen *; clipboard-write" frameborder="0"
        height="450"
        sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-storage-access-by-user-activation allow-top-navigation-by-user-activation"
        src="https://embed.music.apple.com/br/album/a-fatal-exist%C3%AAncia-de-um-sonhador/1673866727" class="mt-2 m-1"
        style="width: 49%; min-width: 300px; max-width: 660px; overflow: hidden; border-radius: 12px;"></iframe>
</div>