<div class="container" id="VIDEOS">
    <h2 class="mt-5 text-center nask" style="font-size: 70px">VÍDEOS</h2>
    <div class="d-flex mt-2 justify-content-center">
        <div class="m-1 ratio ratio-16x9">
            <iframe src="https://www.youtube.com/embed/NuunFK7y_Ys"
            title="Freiya - Pink (Clipe Oficial)" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
        <div class="m-1 ratio ratio-16x9">
            <iframe src="https://www.youtube.com/embed/u-LvppKZT0k"
            title="Todos os Rasgos no Meu Peito - Freiya (Ao Vivo)" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
    </div>
</div>