<div class="container">
    <div class="d-flex">
        <div>
            <iframe width="1236" height="695" src="https://www.youtube.com/embed/NuunFK7y_Ys"
            title="Freiya - Pink (Clipe Oficial)" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
        <div>
            <iframe width="1236" height="695" src="https://www.youtube.com/embed/u-LvppKZT0k"
            title="Todos os Rasgos no Meu Peito - Freiya (Ao Vivo)" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
    </div>
</div>